<main class="main-content">
  <div class="content__head">
    <h1 class="content__title">Items-Tipos lavados</h1>
  </div>
  <table class="table">
    <thead class="table__head">
      <tr>
        <th class="table__cell">Tipo Lavado</th>
        <th class="table__cell">Cantidad Items</th>
        <th class="table__cell">Total</th>
        <th class="table__cell" id="acciones">Acciones</th>
      </tr>
    </thead>
    <tbody class="table__body">
    </tbody>
  </table>
  <h2 class="content__info">No hay Items-Tipos lavados registrados</h2>
</main>