<main class="main-content main-content--blanco">
    <h4 class="panel__title">Pendientes</h4>
    <div class="panel" id="contenedor-pendientes">
      <div class="panel__card panel__card--add">
        <button class="space__icon space__icon--big" id="add-vehicle">
          <i class="ri-add-circle-fill"></i>
        </button>
      </div>

      <!-- <div class="panel__card card">
        <div class="card__information">
          <small class="card__vehicle">Moto</small>
          <i class="ri-delete-bin-6-fill card__icon"></i>
        </div>
        <strong class="card__plate">HLH02H</strong>
        <div class="card__space space">
          <a class="space__icon" href="#/vehiculo">
            <i class="ri-edit-2-line"></i>
          </a>
          <a class="space__icon space__icon--scale" href="#/asignarLavado">
            <i class="ri-car-washing-fill"></i>
          </a>
        </div>
        <div class="card__washer">
          <small>Felipe</small>
          <i class="ri-user-5-fill card__icon"></i>
        </div>
      </div> -->

    </div>
    <h4 class="panel__title">En proceso</h4>
    <div class="panel" id="contenedor-lavados">
      <!-- <div class="panel__card card">
        <div class="card__information">
          <small class="card__vehicle">Moto</small>
          <i class="ri-delete-bin-6-fill card__icon"></i>
        </div>
        <strong class="card__plate">ODS17H</strong>
        <div class="card__space space">
          <a class="space__icon" href="#/asignarLavado">
            <i class="ri-edit-2-line"></i>
          </a>
          <a class="space__icon space__icon--scale" href="#/pago">
            <i class="ri-money-dollar-circle-line"></i>
          </a>
        </div>
        <div class="card__washer">
          <small>Willian</small>
          <i class="ri-user-5-fill card__icon"></i>
        </div>
      </div> -->
    </div>
  </main>