<main class="main-content">
  <div class="content__head">
    <h1 class="content__title">Tipos de lavados</h1>
  </div>
  <table class="table">
    <thead class="table__head">
      <tr>
        <th class="table__cell">Id</th>
        <th class="table__cell">Nombre</th>
        <th class="table__cell">Descripción</th>
        <th class="table__cell">Tipo vehiculo</th>
        <th class="table__cell" id="acciones">Acciones</th>
      </tr>
    </thead>
    <tbody class="table__body">
    </tbody>
  </table>
  <h2 class="content__info">No hay tipos de lavados registrados</h2>
</main>