<main class="main-content">
    <h1 class="content__title content__title--center">Pagar de lavado</h1>
    <form class="form form--large" action="" id="form-Registro" novalidate>
        <div class="form__space form__space--selfRow">
            <label class="form__label" for="valor">Valor:</label>
            <input class="form__input" type="text" name="valor" disabled required>
        </div>
        <div class="form__space form__space--selfRow">
            <label class="form__label" for="placa">Placa:</label>
            <input class="form__input" type="text" name="placa" disabled required>
        </div>
        <div class="form__space form__space--selfRow">
            <label class="form__label" for="descuento">Descuento:</label>
            <input class="form__input" type="text" name="descuento" disabled required>
        </div>
        <div class="form__space form__space--selfRow ">
            <label class="form__label" for="recibido">Dinero recibido:</label>
            <input class="form__input" type="text" name="recibido" required>
        </div>
        <div class="form__space form__space--selfRow">
            <label class="form__label" for="total">Total:</label>
            <input class="form__input resalt" type="text" name="total" readonly required>
        </div>
        <div class="form__space form__space--selfRow">
            <label class="form__label" for="cambio">Cambio:</label>
            <input class="form__input" type="text" name="cambio" disabled>
        </div>
        <div class="form__space form__space--button">
            <button class="form__button" type="submit">Confirmar</button>
        </div>
    </form>
</main>