@import url(variables.css);


/* Estilos para los aside de la página */
.aside {
  height: calc(100vh - var(--headerSize));
  width: 220px;
  display: flex;
  flex-direction: column;
  background-color: var(--colorPrincipal);
  filter: drop-shadow(-10px 0px 15px var(--colorSombras));
  padding: 20px 10px;
  gap: 30px;
}

.aside__title {
  color: var(--colorBlanco);
}

.aside__items {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item__link {
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 25px;
  font-size: 18px;
  text-decoration: none;
  color: var(--colorSecundario);
  padding: 5px;
  font-weight: 500;
  transition: 0.25s;
}

.item__link:hover{
  background-color: var(--colorSecundario);
  color: var(--colorPrincipal);
}

.item__icon {
  font-size: 25px;
  color: var(--colorTerciario);
}