<main class="main-content">
    <h1 class="content__title content__title--center">Ingrese los datos</h1>

    <form class="form form--large" id="form-Registro" action="" novalidate>
        <div class="form__space form__space--completed">
            <label class="form__label" for="nombre:">Nombre tipo vehiculo:</label>
            <input class="form__input" type="text" name="nombre" placeholder="ej: Carro" autocomplete="off" required>
        </div>

        <div class="form__space form__space--button">
            <button class="form__button" type="submit">Registrar</button>
        </div>

    </form>
</main>