<main class="main-content">
  <div class="content__head">
    <h1 class="content__title">Servicios de vehiculos</h1>
  </div>
  <table class="table">
    <thead class="table__head">
      <tr>
        <th class="table__cell">Id</th>
        <th class="table__cell">Nombre servicio</th>
        <th class="table__cell">% Descuento</th>
        <th class="table__cell" id="acciones">Acciones</th>
      </tr>
    </thead>
    <tbody class="table__body">
    </tbody>
  </table>
  <h2 class="content__info">No hay servicios registrados</h2>
</main>