<header class="header">
  <div class="header__enlaces">
    <div class="header__menu">
      <input type="checkbox" name="" id="menuCheckbox">
      <label for="menuCheckbox" id="menu">
        <i class="ri-menu-line menu__icon"></i>
      </label>
    </div>
    <a class="header__link" href="#/inicio">
      <img class="header__logo" src="/src/images/logo.png" alt="Logo">
    </a>
  </div>
  <div class="header__info">
    <div>
      <h3 class="header__nameUser">Nombre de usuario</h3>
      <h6 class="header__nameRol">Rol</h6>
    </div>
    <i class="ri-account-circle-line header__icon"></i>
    <a class="header__salir" href="#/login">Cerrar Sesión</a>
  </div>
</header>