<aside class="aside asideGestion">
  <div class="aside__content">
    <h2 class="content__titulo">Tipos de lavados</h2>
    <div class="content" id="contenedor_tipo_lavados">
      <!-- <span class="content__field">ID: 1 | Basico - Car</span>
        <span class="content__field">ID: 2 | Motor - Car</span>
        <span class="content__field">ID: 3 | Tapiceria - Car</span> -->
    </div>
    <div class="content__field content__field--center">
      <button class="content__button">
        <a class="content__link" href="#/tipolavados">Gestionar</a>
      </button>
    </div>
  </div>
  <div class="aside__content">
    <h2 class="content__titulo">Lavadores</h2>
    <div class="content" id="contenedor_lavadores">
      <!-- <span class="content__field">ID: 101 | Andres</span>
        <span class="content__field">ID: 102 | Felipe</span>
        <span class="content__field">ID: 203 | Willian</span> -->
    </div>
    <div class="content__field content__field--center">
      <button class="content__button">
        <a class="content__link" href="#/lavadores">Gestionar</a>
      </button>
    </div>
  </div>

</aside>