<header class="header">
  <div class="header__acces acces">
    <a class="acces__icon" href="#/tipolavados">
      <i class="ri-car-washing-fill"></i>
    </a>
    <a class="acces__icon" href="#/lavadores">
      <i class="ri-team-fill"></i>
    </a>
    <button class="acces__icon" id="header-vehiculo">
      <i class="ri-add-circle-fill"></i>
    </button>
  </div>
  <div class="header__info">
    <div>
      <h3 class="header__nameUser">Nombre de usuario</h3>
      <h6 class="header__nameRol">Rol</h6>
    </div>
    <i class="ri-account-circle-line header__icon"></i>
    <a class="header__salir" href="#/login">Cerrar Sesión</a>
  </div>
</header>