<section class="welcome-content">
  <div class="content__header">
    <div class="content__message">
      <h1 class="message__title">
        Bienvenido a WashTrack
      </h1>

      <p>
        Aquí puedes gestionar todo lo relacionado con tu lavadero: usuarios, tipos de vehículos,
        servicios, lavados y ver el historial de facturación. Selecciona una opción abajo para comenzar.
      </p>
    </div>
  </div>

  <div class="content__information">
    <h2>¿Qué puedes hacer?</h2>

    <p>Las acciones que puedes realizar depende del rol que tengas el cual contiene unos permisos especificos</p>

    <ul class="information__list">
      <li>Gestionar Usuarios</li>
      <li>Gestionar vehiculos</li>
      <li>Gestionar Tipos de vehiculos</li>
      <li>Gestionar Servicios de vehiculos</li>
      <li>Gestionar Tipos de lavados</li>
      <li>Gestionar Items de lavados</li>
      <li>Gestionar Gestionar lavados</li>
    </ul>

    <p>
      Los elementos a los que no tengas permisos se negará el acceso.
    </p>
  </div>
</section>