<main class="main-content">
  <div class="content__head">
    <h1 class="content__title">Ingresos Diarios</h1>
  </div>
  <table class="table">
    <thead class="table__head">
      <tr>
        <th class="table__cell">ID</th>
        <th class="table__cell">Placa</th>
        <th class="table__cell">Fecha</th>
        <th class="table__cell">Tipo Lavado</th>
        <th class="table__cell">Total</th>
        <th class="table__cell" id="acciones">Acciones</th>
      </tr>
    </thead>
    <tbody class="table__body">
    </tbody>
  </table>
  <h2 class="content__info">No hay ingresos registrados hoy</h2>
</main>